

header {
  color: red;
  text-align: center;
  font-size:x-large;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
background-color: rgb(164, 162, 190);
height: 350px;
padding-top: 50px;
}





body {
  background-color: #D9F2B6;
  font-family: 'Karantina', cursive;
  background: linear-gradient(to LEFT,rgb(109, 102, 141),#7fb1e2);


}

a:hover {
  background-color: rgb(245, 245, 168);
}
