header {
    color: red;
    text-align: center;
    font-size:x-large;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: rgb(164, 162, 190);
  height: 350px;
  padding-top: 50px;

}


body {
    background-color: #D9F2B6;
    font-family: 'Karantina', cursive;

}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  h2 {
    font-size: 75px;
  }

  a:hover {
    background-color: yellow;
  }


